@use 'mixins' as *;

// Theme
$steel-blue: #345882;
$baby-blue: #aac8eb;
$pale-cyan: #cce2ed;
$papaya-whip: #ffeedf;
$peach-puff: #ffdbb9;
$red: #d8292f;
$white: #ffffff;
$flight-box-shadow: rgba(0, 0, 0, 0.15);
$dark-charcoal: #323232;
$dark-gray-3: #939393;
